.header {
    width: 100%;
    background-color: $white;
    height: 80px;

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .navbar__center {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;

            @include tablet {
                width: 50%;
            }

            .logo {
                width: 100%;
            }

            .hamburger {

                @include tablet {
                    display: none;
                }
            }
        }

        .navbar {
            position: absolute;
            height: 0;
            top: 80px;
            background-color: $VeryDarkViolet;
            width: 100%;
            overflow: hidden;
            transition: $transition;
            background-image: url(/images/bg-pattern-mobile-nav.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom;

            @include tablet {
                position: relative;
                height: 100%;
                top: 0;
                overflow: visible;
                background-color: transparent;
                background-image: none;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &.active {
                height: calc(100vh - 80px);
                overflow: visible;
            }

            .links {
                width: 80%;
                margin-inline: auto;
                text-align: center;
                margin-top: 40px;

                @include tablet {
                    width: 100%;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                li:not(:last-child) {

                    @include tablet {
                        margin-right: 35px;
                    }
                }

                a {
                    display: block;
                    padding-top: 3rem;
                    font-size: 1.6rem;
                    color: $white;
                    transition: $transition;

                    @include tablet {
                        color: $DarkGrayishViolet;
                        font-size: 1rem;
                        padding: 0;

                        &:hover {
                            color: $VeryDarkViolet;
                        }
                    }
                }

                .last {
                    padding-bottom: 4rem;

                    @include tablet {
                        padding-bottom: 0;
                    }
                }

                .btn-primary {
                    padding: 15px 100px;

                    @include tablet {
                        padding: 15px 30px;
                        border: 2px solid $VeryDarkViolet;
                        color: $VeryDarkViolet;
                        background-color: transparent;
                        cursor: pointer;
                        transition: $transition;

                        &:hover {
                            background-color: $VeryDarkViolet;
                            color: $VeryLightGray;
                        }
                    }

                    @include small-screen {
                        padding: 15px 50px;
                    }
                }
            }
        }
    }
}