
.hero {
    background-color: $DarkViolet;
    background-image: url(/images/bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    background-position: 1485px -90px;

    .container {
        min-height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;

        .even__columns {

            .mobile__image {
                display: none;

                @include min-large {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 1;

                    img {
                        max-width: 100%;
                    }
                }
            }

            .left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: 540px;
                margin-inline: auto;
                padding-left: 1rem;
                
                @include min-large {
                    flex: 2;
                    text-align: center;
                    padding: 100px 1rem;

                    hr {
                        display: none;
                    }
                }

                

                h1 {
                    color: $white;
                    font-size: 3.7rem;
                    line-height: .9;
                    font-family: $HeadingsFontFamily;
                    font-weight: $HeadingsWeight;
                    margin-bottom: 25px;

                    @include mobile {
                        font-size: 2rem;
                    }
                }

                p {
                    color: $white;
                    font-size: .8rem;
                    line-height: 1.6;
                    margin-bottom: 32px;
                }

                .btn-primary {
                    width: 30%;

                    @include min-large {
                        margin-inline: auto;
                    }

                    @include mobile {
                        font-size: .7rem;
                        padding: 8px 12px;
                    }
                }

                hr {
                    width: 150px;
                    height: 2px;
                    background-color: $white;
                    margin-bottom: 110px;

                }
            }

            .right {
                padding-right: 1rem;
                @include min-large {
                    display: none;
                }

                .image {
                    position: relative;

                    img {
                        max-width: 100%;
                        position: absolute;
                    }
                }

                
            }
        }
    }
}