// Colors
$DarkViolet: hsl(256, 26%, 20%);
$GrayishBlue: hsl(216, 30%, 68%);
// ------------------------------
$VeryDarkViolet: hsl(270, 9%, 17%);
$DarkGrayishViolet: hsl(273, 4%, 51%);
$VeryLightGray: hsl(0, 0%, 98%);

$white: #fff;

// Typography
$Fontsize: 16px;
// ---------------------
$HeadingsFontFamily: 'DM Serif Display', serif;
$HeadingsWeight: 400;
// ---------------------
$BodyFontFamily: 'Karla', sans-serif;
$BodyWeight-400: 400;
$BodyWeight-700: 700;