@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

@import "variables";
@import "mixins";
@import "header";
@import "section-hero";
@import "section-content";

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

body {
    min-height: 200vh;
    background-color: $white;
    font-family: $BodyFontFamily;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
}

.btn-primary {
    padding: 15px 30px;
    border: 2px solid white;
    color: $VeryLightGray;
    background-color: transparent;
    cursor: pointer;
    transition: $transition;

    &:hover {
        background-color: $VeryLightGray;
        color: $VeryDarkViolet;
    }
}

.btn-heading-primary {
    padding: 15px 30px;
    border: 2px solid $VeryDarkViolet;
    color: $VeryDarkViolet;
    background-color: transparent;
    cursor: pointer;
    transition: $transition;

    &:hover {
        background-color: $VeryDarkViolet;
        color: $VeryLightGray;
    }

}

.open-menu.is-active {
    display: none;
}

.close-menu {
    display: none;
}

.close-menu.is-active {
    display: block;
}

.even__columns {
    display: grid;
    gap: 1rem;

    @include large {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}